<template>
    <div class="h-screen w-screen">
        <div class="flex md:flex-row flex-col-reverse justify-between h-full w-full">
            <SideMenu />
            <div class="flex flex-col overflow-y-scroll" style="flex-grow: 1">
                <Header />
                <Nuxt class="bg-white dark:bg-gray-700 md:px-10 md:py-4 px-2 py-1" />
            </div>
        </div>
    </div>
</template>

<script>
import SideMenu from "../components/partials/SideMenu.vue";
import Header from "~/components/partials/Header.vue";
export default {
    components: {
        SideMenu,
        Header
    },
    mounted() {
        this.socket = this.$nuxtSocket({ name: "main" });
        this.socket
            .on("notifyEvent", (msg, cb) => {
                const date = new Date(msg.date * 1000)
                const hDate = date.toLocaleString()
                this.$notify({
                    title: "Оповещение",
                    dangerouslyUseHTMLString: true,
                    message: `<div>${msg.text}</div><div class="text-xs text-gray-400">${hDate}</div>`,
                    type: "warning",
                    position: 'top-left'
                });
                console.log(msg);
            });
    },
};

</script>