* {
  box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.el-card__body {
  height: 100%;
  margin: 0 2rem;
}

.el-form-item {
  margin-bottom: 0 !important;
}

.copied:hover::after {
  content: '\2398';
}
