<template>

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <el-popover placement="top-start" trigger="hover" :title="sector.name">
                <el-button slot="reference" class="max-w-full truncate" :type="checkType()">{{ sector.name }}
                </el-button>
            </el-popover>
        </div>
        <div v-if="stat"> {{ result }} <apexchart width="100%" type="line" :options="options" :series="series">
            </apexchart>
        </div>
    </el-card>

</template>

<script>
export default {
    props: {
        sector: Object
    },
    data() {
        return {
            stat: {},
            result: 0,
            options: {
                xaxis: {
                    categories: [2019, 2020, 2021]
                },

            },
            series: [{
                name: 'series-1',
                data: [0, 0.5, 1]
            }]
        }
    },
    async fetch() {
        const stat = await this.$axios.$get(`/company/stat/${this.sector.code}`)
        this.stat = stat[0] || {}
        this.stat._id = this.sector.code
        this.result = (this.stat.sum / this.stat.count).toFixed(2)
        this.series = [{ data: [0, (Math.random()*this.result).toFixed(2) ,this.result] }]
    },
    methods: {
        checkType() {
            const st = this.result;
            if (st < -150) { this.options.colors = ["#ff5e5a"]; return "danger" }
            else if (st < -50) { this.options.colors = ["#ff9f40"]; return "warning" }
            else if (st < 50) { this.options.colors = ["#ffe526"]; return "info" }
            else if (st < 150) { this.options.colors = ["#94d240"]; return "primary" }
            else { this.options.colors = ["#06b564"]; return "success" }
        }
    },
}
</script>

<style>
.el-card__header {
    padding: .5rem;
}

.el-card__body {
    margin: 0
}
</style>