<template>
    <div>
        <el-table :data="users" :default-sort="{ prop: 'email', order: 'ascending' }" style="width: 100%" height="80%">
            <el-table-column prop="email" label="E-mail" sortable fixed>
            </el-table-column>
            <el-table-column prop="role" label="Роль" sortable fixed>
            </el-table-column>
            <el-table-column label="Operations">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i>
                    </el-button>
                    <el-popconfirm title="Вы уверены что хотите удалить данного пользователя?"
                        @confirm="handleDelete(scope.$index, scope.row)">
                        <el-button size="mini" type="danger" slot="reference"><i class="el-icon-delete"></i>
                        </el-button>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="Редактирование пользователя" :visible.sync="editFormVisible">
            <el-form :model="form">
                <el-form-item label="E-mail" :label-width="formLabelWidth">
                    <el-input v-model="form.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Роль" :label-width="formLabelWidth" class="mt-4">
                    <el-select v-model="form.role" placeholder="Выберите роль">
                        <el-option v-for="role in roles" :key="role" :label="role" :value="role"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editFormVisible = false">Отмена</el-button>
                <el-button type="primary" @click="editFormVisible = false">Подтвердить</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    middleware: "auth",
    data() {
        return {
            users: [],
            roles: [],
            editFormVisible: false,
            form: {
                email: '',
                role: ''
            },
            formLabelWidth: '10%'
        }
    },
    async fetch() {
        this.users = await this.$axios.$get('/user/all')
        const roles = await this.$axios.$get('/user/roles')
        console.log(this.users);
        this.roles = Object.keys(roles.roles)
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
            this.form.email = row.email
            this.form.role = row.role
            this.editFormVisible = true
        },
        async handleDelete(index, row) {
            await this.$axios.$delete(`/user/${row._id}`)
            this.$fetch();
        }
    },
    mounted() {
    },
    beforeCreate() {
        if (this.$auth.user.role !== "admin") this.$router.push("/");
    }
}
</script>