<template>
    <div>
        <el-input placeholder="Поиск" v-model="search_query" @input="search" clearable>
        </el-input>
        <el-pagination background class="flex justify-center my-4" layout="prev, pager, next" @current-change="handlePageChange" :total="companies_count/query.per_page" :disabled="search_query.trim().length > 0">
        </el-pagination>
        <el-table :data="companies" :default-sort="{ prop: 'name', order: 'ascending' }" @row-click="handleCompanyClick" style="width: 100%" height="80%">
            <el-table-column prop="name" label="Название" sortable fixed>
            </el-table-column>
            <el-table-column prop="ogrn" label="ОГРН" sortable>
            </el-table-column>
            <el-table-column prop="inn" label="ИНН" sortable>
            </el-table-column>
            <el-table-column prop="contacts" label="Контакты">
                <template slot-scope="scope">
                    <el-popover v-if="scope.row.contacts.mail.length" trigger="hover" placement="top">
                        <el-link :underline="false" v-for="mail in scope.row.contacts.mail" :key="mail"
                            :href="`mailto:${mail}`" class="block">{{ mail }}</el-link>
                        <div slot="reference" class="name-wrapper inline">
                            <el-tag size="medium"><i class="el-icon-message"></i></el-tag>
                        </div>
                    </el-popover>
                    <el-popover v-if="scope.row.contacts.phone.length" trigger="hover" placement="top">
                        <el-link :underline="false" v-for="phone in scope.row.contacts.phone" :key="phone"
                            :href="`tel:${phone}`" class="block">{{ phone }}</el-link>
                        <div slot="reference" class="name-wrapper inline">
                            <el-tag type="success" size="medium"><i class="el-icon-phone"></i></el-tag>
                        </div>
                    </el-popover>
                    <el-popover v-if="scope.row.contacts.address.length" trigger="hover" placement="top">
                        <p v-for="address in scope.row.contacts.address" :key="address">{{ address }}</p>
                        <div slot="reference" class="name-wrapper inline">
                            <el-tag type="info" size="medium"><i class="el-icon-location"></i></el-tag>
                        </div>
                    </el-popover>
                    <el-popover v-if="scope.row.contacts.website.length" trigger="hover" placement="top">
                        <el-link :underline="false" v-for="website in scope.row.contacts.website" :key="website"
                            :href="website" class="block">{{ website }}</el-link>
                        <div slot="reference" class="name-wrapper inline">
                            <el-tag type="info" size="medium"><i class="el-icon-link"></i></el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search_query: "",
            companies: [],
            companies_backup: [],
            companies_count: 0,
            disablePagination: false,
            query: {
                page: 1,
                per_page: 50
            }
        }
    },
    async fetch() {
        const companies_count = await this.$axios.$get("/company/count")
        this.companies_count = companies_count.count
        const companies = await this.$axios.$post('/company/all', this.query)
        this.companies = companies.data
        this.companies_backup = this.companies;
    },

    mounted() {
    },

    methods: {
        async search(event_text) {
            if (event_text.trim().length < 1) { this.companies = this.companies_backup; return; }
            const companies = await this.$axios.$get('/search/' + event_text)
            this.companies = companies
        },
        handlePageChange(page) {
            this.query.page = page
            this.$fetch();
        },
        handleCompanyClick(row) {
            this.$router.push({path: `/company/${row.ogrn}`})
        }
    },
}
</script>