<template>
  <div>
    <el-row :gutter="20">
      <el-col :sm="12" :md="6" v-for="sector in sectors" :key="sector.code" class="mt-4">
        <LazySectorCard :sector="sector" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import SectorCard from '~/components/SectorCard.vue';
export default {
  layout: "default",
  data() {
    return {
      sectors: []
    };
  },
  async fetch() {
    this.sectors = await this.$axios.$get("/okveds/sectors");
    this.sectors.sort(() => (Math.random() > .5) ? 1 : -1).splice(24)
  },
  mounted() {

  },
  components: { SectorCard }
}
</script>