<template>
    <div class="flex justify-center items-center">
        <el-card v-if="chAccountShow" class="flex flex-col items-center" shadow="always">
            <p class="text-5xl text-center font-bold">Вход</p>
            <div class="grid md:grid-cols-2 grid-cols-1 gap-4 mt-12">
                <div class="flex flex-col items-center shadow-md rounded gap-2 py-4 px-6">
                    <div class="flex justify-center"><img src="~/assets/img/analytics.png" alt="" srcset=""
                            class="w-28 h-28" /></div>
                    <p class="text-center text-base font-semibold">Я аналитик</p>
                    <el-button type="primary" round @click="loginEmployee">Войти</el-button>
                </div>
                <div class="flex flex-col items-center shadow-md rounded gap-2 py-4 px-6">
                    <div class="flex justify-center"><img src="~/assets/img/business.png" alt="" srcset=""
                            class="w-28 h-28" /></div>
                    <p class="text-center text-base font-semibold">Я представитель компании</p>
                    <el-button type="success" round @click="loginCompany">Войти</el-button>
                </div>
            </div>
        </el-card>
        <el-card v-if="!chAccountShow" class="flex flex-col items-center md:w-1/4"
            body-style="{display: inherit; width: 100%;}" shadow="always">
            <div class="flex flex-col gap-4">
                <p class="text-center text-xl font-semibold">{{ loginTitle }}</p>
                <el-form>
                    <el-form-item label="E-mail">
                        <el-input placeholder="Введите e-mail" v-model="loginData.email" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="Пароль">
                        <el-input placeholder="Введите пароль" v-model="loginData.password" show-password></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary" round @click="login">Войти</el-button>
            </div>
        </el-card>

    </div>
</template>

<script>

export default {
    data() {
        return {
            chAccountShow: true,
            loginTitle: "",
            loginData: {
                email: "",
                password: ""
            },
            role: "employee"
        }
    },
    methods: {
        async login() {
            await this.$axios
                .$post("auth/login", this.loginData)
                .then(async (response) => {
                    if (response.accessToken)
                        this.$auth.loginWith("local", {
                            data: this.loginData
                        }).then(() => {
                            if (response.data.role == "admin") this.$router.push("/admin")
                            else if (response.data.role == "supervisor") this.$router.push("/moderator")
                            else if (response.data.role == "company") this.$router.push('/workspace')
                            else this.$router.push("/")
                        });
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        loginEmployee() { this.chAccountShow = false, this.loginTitle = "Аналитик" },
        loginCompany() { this.chAccountShow = false, this.role = "company", this.loginTitle = "Компания" }
    },
    beforeCreate() {
        if (this.$auth.loggedIn) this.$router.push("/");
    }
}

</script>