<template>
    <div>
        <el-row :gutter="20">
            <el-col :sm="12" :md="6" v-for="product in products" :key="product.code" class="mt-4">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        {{ product.name }}
                    </div>
                    <el-image style="width: 100%;" :src="product.img" fit="fill"></el-image>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: [
                { img: 'https://365-tv.ru/images/agregat%20privod%203.jpg', name: 'АНМТ 100/8-УХЛ(Т)1', manufacturer: 'АГРЕГАТ-ПРИВОД' },
                { img: 'https://365-tv.ru/images/agregat%20privod%203.jpg', name: 'АНМТ 100/8-УХЛ(Т)1', manufacturer: 'АГРЕГАТ-ПРИВОД' }
            ]
        }
    },
}
</script>