<template>
    <div class="flex justify-center items-center">
        <el-card v-if="chAccountShow" class="flex flex-col items-center" shadow="always">
            <p class="text-5xl text-center font-bold">Регистрация</p>
            <div class="grid md:grid-cols-2 grid-cols-1 gap-4 mt-12">
                <div class="flex flex-col items-center shadow-md rounded gap-2 py-4 px-6">
                    <div class="flex justify-center"><img src="~/assets/img/analytics.png" alt="" srcset=""
                            class="w-28 h-28" /></div>
                    <p class="text-center text-base font-semibold">Я аналитик</p>
                    <el-button type="primary" round @click="registerEmployee">Зарегистрироваться</el-button>
                </div>
                <div class="flex flex-col items-center shadow-md rounded gap-2 py-4 px-6">
                    <div class="flex justify-center"><img src="~/assets/img/business.png" alt="" srcset=""
                            class="w-28 h-28" /></div>
                    <p class="text-center text-base font-semibold">Я представитель компании</p>
                    <el-button type="success" round @click="registerCompany">Зарегистрироваться</el-button>
                </div>
            </div>
        </el-card>
        <el-card v-if="!chAccountShow" class="flex flex-col items-center md:w-1/4"
            body-style="{display: inherit; width: 100%;}" shadow="always">
            <div class="flex flex-col gap-4">
                <p class="text-center text-xl font-semibold">{{ registerTitle }}</p>
                <el-form>
                    <el-form-item label="E-mail">
                        <el-input placeholder="Введите e-mail" v-model="signupData.email" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="Пароль">
                        <el-input placeholder="Введите пароль" v-model="signupData.password" show-password></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary" round @click="signup">Зарегистрироваться</el-button>
            </div>
        </el-card>

    </div>
</template>

<script>

export default {
    data() {
        return {
            chAccountShow: true,
            registerTitle: "",
            signupData: {
                email: "",
                password: "",
                role: "employee"
            },
        }
    },
    methods: {
        async signup() {
            await this.$axios
                .$post("auth/signup", this.signupData)
                .then(async (response) => {
                    if (response.accessToken)
                        await this.$auth.loginWith("local", {
                            data: this.signupData,
                        });
                        this.$router.push("/login")
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        registerEmployee() { this.chAccountShow = false, this.registerTitle = "Аналитик" },
        registerCompany() { this.chAccountShow = false, this.signupData.role = "company", this.registerTitle = "Компания" }
    },
    beforeCreate() {
        if (this.$auth.loggedIn) this.$router.push("/");
    }
}

</script>