<template>
    <div v-if="!this.$auth.user.company">
        <p>
            Выберите, пожалуйста, компанию сотрудником которой вы являетесь:</p>
        <div class="flex items-center justify-between w-full  mt-2">
            <el-select v-model="search_query" filterable remote reserve-keyword placeholder="Поиск"
                :remote-method="search" :loading="loading" @change="handleChange" class="flex-1 mr-2">
                <el-option v-for="company in companies" :key="company._id" :label="`${company.name} ${company.ogrn}`"
                    :value="company._id">
                </el-option>
            </el-select>
            <el-button type="success" @click="saveCompany">Сохранить</el-button>
        </div>
    </div>
    <div v-else>
        <div class="flex justify-end w-full mt-2">
            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="dialogVisible = true">Добавить продукт
            </el-button>
        </div>
        <el-dialog title="Добавление продукта" :visible.sync="dialogVisible" width="30%">
            <el-form ref="form" :model="form" label-width="120px">
                <el-form-item label="Activity name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Отмена</el-button>
                <el-button type="primary" @click="dialogVisible = false">Добавить</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    middleware: "auth",
    data() {
        return {
            search_query: "",
            loading: false,
            companies: [],
            selection: "",
            dialogVisible: false,
            form: {
                name
            }

        }
    },
    methods: {
        async search(event_text) {
            this.loading = true
            if (event_text.trim().length < 1) { return; }
            this.companies = await this.$axios.$get('/search/' + event_text)
            this.loading = false
        },
        handleChange() {
            this.selection = this.search_query
            console.log(this.$auth.user);
        },
        async saveCompany() {
            await this.$axios.$put(`/user/${this.$auth.user.id}`, { company: this.selection })
            this.$forceUpdate();
        }
    },
}
</script>