<template>
    <div>
        <el-row>
            <el-col :span="24">
                <div class="grid-content"> {{ company.name }} </div>
            </el-col>
        </el-row>
        <el-tabs v-model="activeName" @tab-click="changeTab">
            <el-tab-pane label="Профиль" name="general">
                <el-skeleton v-if="loading" :rows="6" animated />
                <el-row :gutter="30">
                    <el-col :md="12" :xs="24">
                        <el-card class="box-card">
                            <div><b>ОГРН:</b> {{ company.ogrn }}</div>
                            <div><b>ИНН:</b> {{ company.inn }}</div>
                            <div><b>Дата регистрации:</b> {{ company.reg_date }}</div>
                            <div v-if="company.managers">
                                <el-divider content-position="left">Руководители</el-divider>
                                <p v-for="manager in company.managers" :key="manager">
                                    <el-tag type="info" size="medium"><i class="el-icon-user"></i></el-tag> {{
                                            manager
                                    }}
                                </p>
                            </div>
                            <div v-if="company.founders">
                                <el-divider v-if="company.founders.length" content-position="left">Учредители
                                </el-divider>
                                <p v-for="founder in company.founders" :key="founder.name">
                                    <el-tag v-if="founder.foreign" type="danger" size="medium"><i
                                            class="el-icon-warning-outline"></i></el-tag>
                                    <el-tag v-else type="info" size="medium"><i class="el-icon-user-solid"></i></el-tag>
                                    {{
                                            founder.name
                                    }}
                                </p>
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :md="12" :xs="24">
                        <el-card class="box-card">
                            <apexchart width="100%" type="line" :options="options" :series="series">
                            </apexchart>
                        </el-card>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="Виды деятельности" name="okved">
                <el-table :data="okveds" style="width: 100%">
                    <el-table-column label="Код" width="100">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.code == company.mainOkved" type="success">{{ scope.row.code }}
                            </el-tag>
                            <el-tag v-else type="info">{{ scope.row.code }}</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="Описание">
                        <template slot-scope="scope">
                            {{ scope.row.name }}
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="Продукция" name="products">Продукция</el-tab-pane>
            <el-tab-pane v-if="!$fetchState.pending" label="Контакты" name="contacts">
                <div v-if="company.contacts.mail.length > 0">
                    <el-divider content-position="left">Почта</el-divider>
                    <el-link :underline="false" v-for="mail in company.contacts.mail" :key="mail"
                        :href="`mailto:${mail}`" class="block">
                        <el-tag size="medium"><i class="el-icon-message"></i></el-tag> {{ mail }}
                    </el-link>
                </div>
                <div v-if="company.contacts.phone.length > 0">
                    <el-divider content-position="left">Телефон</el-divider>
                    <el-link :underline="false" v-for="phone in company.contacts.phone" :key="phone"
                        :href="`tel:${phone}`" class="block">
                        <el-tag type="success" size="medium"><i class="el-icon-phone"></i></el-tag> {{ phone }}
                    </el-link>
                </div>
                <div v-if="company.contacts.address.length > 0">
                    <el-divider content-position="left">Адрес</el-divider>
                    <p v-for="address in company.contacts.address" :key="address">
                        <el-tag type="info" size="medium"><i class="el-icon-location"></i></el-tag> {{ address }}
                    </p>
                </div>
                <div v-if="company.contacts.website.length > 0">
                    <el-divider content-position="left">Сайт</el-divider>
                    <el-link :underline="false" v-for="website in company.contacts.website" :key="website"
                        :href="`${website}`" class="block">
                        <el-tag type="info" size="medium"><i class="el-icon-link"></i></el-tag> {{ website }}
                    </el-link>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            company: {},
            okveds: [],
            activeName: 'general',
            mainOkved: 0,
            options: {
                xaxis: {
                    categories: [2019, 2020, 2021]
                },

            },
            series: [{
                name: '',
                data: [0, 0.5, 1]
            }]
        }
    },
    async fetch() {
        this.company = await this.$axios.$get(`search/ogrn/${this.$route.params.id}`)
        if (!this.company) this.$router.push('/companies')
        const okveds = await this.$axios.$get('/okveds')
        var mainDesc = {}
        okveds.forEach(desc => {
            if (this.company.okveds.includes(desc.code)) {
                if (desc.code != this.company.mainOkved)
                    this.okveds.push(desc)
                else
                    mainDesc = desc
            }
        });
        this.okveds.unshift(mainDesc)
    },
    async mounted() {
        this.loading = false
    },
    methods: {
        changeTab(tab, event) {
            //console.log(tab, event);
        },
        getOkvedDesc(okved) {
            return okved
        }
    }
}
</script>