<template>
    <div v-if="!this.$store.state.auth.loggedIn" class="flex justify-end border-b p-2 gap-x-2">
        <NuxtLink to="/login" v-if="showLogins">
            <el-button type="primary">Войти</el-button>
        </NuxtLink>
        <NuxtLink to="/signup" v-if="showLogins">
            <el-button type="success">Зарегистрироваться</el-button>
        </NuxtLink>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showLogins: true
        }
    }
}
</script>