<template>
  <div class="
      flex md:flex-col flex-row
      justify-between
      items-center
      md:h-full
      md:w-auto
      w-full
      md:border-r
      border-t
      dark:bg-gray-800 dark:border-gray-600
      md:py-6
    ">
    <NuxtLink to="/">
      <div class="
          md:flex
          justify-center
          items-center
          rounded-full
          bg-blue-600
          text-center text-white
          w-10
          h-10
          font-bold
          text-3xl
          hidden
        ">
        S
      </div>
    </NuxtLink>
    <div class="flex md:flex-col flex-row lg:-mt-24 md:py-8" id="sidemenu">
      <NuxtLink to="/">
        <div class="
            px-6
            py-5
            text-gray-500
            hover:bg-blue-500 hover:text-white
            active:bg-blue-500 active:text-white
          ">
          <i class="el-icon-s-marketing" />
        </div>
      </NuxtLink>
      <NuxtLink to="/companies">
        <div class="
            px-6
            py-5
            text-gray-500
            hover:bg-blue-500 hover:text-white
            active:bg-blue-500 active:text-white
          ">
          <i class="el-icon-s-home" />
        </div>
      </NuxtLink>
      <NuxtLink to="/products">
        <div v-if="this.$auth.user && this.$auth.user.role !== 'company'" class="
            px-6
            py-5
            text-gray-500
            hover:bg-blue-500 hover:text-white
            active:bg-blue-500 active:text-white
          ">
          <i class="el-icon-s-shop" />
        </div>
      </NuxtLink>
      <NuxtLink to="/products">
        <div v-if="this.$auth.user && this.$auth.user.role == 'company'" class="
            px-6
            py-5
            text-gray-500
            hover:bg-blue-500 hover:text-white
            active:bg-blue-500 active:text-white
          ">
          <i class="el-icon-s-goods" />
        </div>
      </NuxtLink>
    </div>
    <div></div>
  </div>
</template>

<script>

export default {
  middleware: "auth",
};
</script>